
bin/Fax_Tests/Test28.class
bin/Fax_Tests/Test28.class
bin/Fax_Tests/Test36.class
Emails_directory/error/att_Failed_to_send_fax.pdf
Emails_directory/error/Failed_to_send_fax.txt
Emails_directory/input/Send_Fax_Status.txt
*.class
